@import 'reset.scss';
@import 'variables/global.scss';
@import 'themes/dark.scss';
@import 'themes/light.scss';

.app {
  background: var(--bg-color);
  font: var(--font-m);
  color: var(--primary-color);

  min-height: 100vh;
}

.app *::-webkit-scrollbar {
  width: 16px;
  height: 8px;
}

.app *::-webkit-scrollbar-track {
  background: var(--bg-color-darkened);
}

.app *::-webkit-scrollbar-thumb {
  background: var(--bg-color);
  border-radius: 10px;
  border: 4px solid var(--inverted-bg-color);
}
