body.dark {
  --bg-color: #58585a;
  --inverted-bg-color: #e0dcd7;

  --primary-color: #f7f7f7;
  --primary-color-accent: #dddbdb;
  --inverted-primary-color: #1b1b1b;
  --inverted-primary-color-accent: #555252;

  --secondary-color: #21c531;
  --inverted-secondary-color: #89bf0b;

  --accent-color: #56cc62;
  --hint-color: #b8b8c5;
}
