body.dark {
  --bg-color: #58585a;
  --bg-color-darkened: #49494a;
  --inverted-bg-color: #e0dcd7;
  --inverted-bg-color-darkened: #c1bebb;

  --primary-color: #ece6e6;
  --primary-color-darkened: #dddbdb;
  --inverted-primary-color: #474444;
  --inverted-primary-color-darkened: #555252;

  --accent-color: #4f62b7f8;
  --hint-color: #b8b8c5;

  --card-bg: #49494a;
  --card-shadow: #223c5033;

  --post-placeholder-color: #979696;

  --text-shadow: #82828af5;
}
