body.light {
  --bg-color: #e0dcd7;
  --bg-color-darkened: #c1bebb;
  --inverted-bg-color: #58585a;
  --inverted-bg-color-darkened: #49494a;

  --primary-color: #474444;
  --primary-color-darkened: #555252;
  --inverted-primary-color: #eae6e6;
  --inverted-primary-color-darkened: #dddbdb;

  --accent-color: #7a8bd6;
  --hint-color: #89898c;

  --card-bg: #c1bebb;
  --card-shadow: #86868690;

  --post-placeholder-color: #a8a5a2;

  --text-shadow: #546c80e1;
}
