body.light {
  --bg-color: #e0dcd7;
  --bg-color-hover: #c1bebb;
  --inverted-bg-color: #58585a;
  --inverted-bg-color-hover: #49494a;

  --primary-color: #2e2e2e;
  --primary-color-hover: #555252;
  --inverted-primary-color: #f7f7f7;
  --inverted-primary-color-hover: #dddbdb;

  --secondary-color: #350bbf;
  --inverted-secondary-color: #21c531;

  --accent-color: #56cc62;
  --hint-color: #a6a6ab;
}
